In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cars_dataset = pd.read_csv('cars.csv')
cars_dataset

,mpg,cylinders,cubic-inches,hp,weight-lbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,Toyota
1,31.9,4,89,71,1925,14,1980,Honda
2,17.0,8,302,140,3449,11,1971,Toyota
3,15.0,8,400,150,3761,10,1971,Toyota
4,30.5,4,98,63,2051,17,1978,Toyota
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,Toyota
257,36.1,4,91,60,1800,16,1979,Nissan
258,22.0,6,232,112,2835,15,1983,Toyota
259,18.0,6,232,100,3288,16,1972,Toyota
260,22.0,6,250,105,3353,15,1977,Toyota

In [3]:
cars_dataset.describe()

              mpg   cylinders          hp   time-to-60         year
count  261.000000  261.000000  261.000000   261.000000   261.000000
mean    23.144828    5.590038  106.360153    15.547893  1976.819923
std      7.823570    1.733310   40.499959     2.910625     3.637696
min     10.000000    3.000000   46.000000     8.000000  1971.000000
25%     16.900000    4.000000   75.000000    14.000000  1974.000000
50%     22.000000    6.000000   95.000000    16.000000  1977.000000
75%     28.800000    8.000000  138.000000    17.000000  1980.000000
max     46.600000    8.000000  230.000000    25.000000  1983.000000

In [4]:
cars_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           261 non-null    float64
 1    cylinders    261 non-null    int64
 2    cubicinches  261 non-null    object
 3    hp           261 non-null    int64
 4    weightlbs    261 non-null    object
 5    time-to-60   261 non-null    int64
 6    year         261 non-null    int64
 7    brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [5]:
cars_dataset.isnull().sum()

mpg             0
 cylinders      0
 cubicinches    0
 hp             0
 weightlbs      0
 time-to-60     0
 year           0
 brand          0
dtype: int64

In [6]:
cars_dataset.dtypes

mpg             float64
 cylinders        int64
 cubicinches     object
 hp               int64
 weightlbs       object
 time-to-60       int64
 year             int64
 brand           object
dtype: object

In [7]:
cars_dataset['mpg']=cars_dataset['mpg'].astype(int)
cars_dataset.dtypes

mpg              int32
 cylinders       int64
 cubicinches    object
 hp              int64
 weightlbs      object
 time-to-60      int64
 year            int64
 brand          object
dtype: object

In [8]:
cars_dataset['mpg']

0      14
1      31
2      17
3      15
4      30
       ..
256    17
257    36
258    22
259    18
260    22
Name: mpg, Length: 261, dtype: int32

In [14]:
cars_dataset.loc[cars_dataset['cubicinches']==" "]
cars_dataset['cubicinches'] = cars_dataset['cubicinches'].replace(" ",np.nan)

KeyError: 'cubicinches'

cars_dataset['weightlbs'].str.strip(" ")

In [ ]:
# cars_dataset = cars_dataset.str.replace(',','').astype(int)

In [ ]:
# cars_dataset=cars_dataset.astype({'weightlbs':int,'cubicinches':int})

In [ ]:
# cars_dataset['weightlbs']=cars_dataset['weightlbs'].astype(int)

In [ ]:
# cars_dataset['cubicinches']=cars_dataset['cubicinches'].map(int)

In [ ]:
X= cars_dataset[cars_dataset.columns[:-1]]
X

In [ ]:
# for i in x.columns:
#     x[i]= x[i].fillna(int(x[i].mean()))

## .

### .